.form {
  min-width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: large;
  width: 100%;
}

.form input {
  display: block;
  width: 90%;
  font: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}

.form button {
  font: inherit;
  background-color: rgba(0, 0, 0, 0.658);
  border: 1px solid #444443;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.form button:hover,
.form button:active {
  background-color: #ebc002;
  border-color: #ebc002;
}
